/* General */

/* Color Map */
/*Backgrounds */
$basicBg: #fafafa;

/* Text */
$basicLinks: #333;
$textWhite: #fff;

/* Buttons */
$btnGreenBg: #5AC947;
$btnGreenBg__hover: #51B63F;


/* Size Map */
$maxWidth: 1300px;

/* Fonts */
@include font-face("PlumbRegular", "plumb-regular");
@include font-face("PlumbBold", "plumbboldc");


body {font-family:"PlumbRegular";background:$basicBg;}
a {color:$basicLinks;text-decoration:none;text-decoration:none;
	&:hover {border-bottom:1px solid $basicLinks;}}

/* Grid */
.l-restrictor {margin:0 auto;max-width:$maxWidth;padding:0 1%;}