/* New Ad */
.newad-form {background:$formBg;border:2px solid $borderGrey;border-radius:8px;box-sizing:border-box;max-width:60%;margin:15px auto 0;padding:10px 20px 10px 25px;}
.newad-list_item {line-height:22px;}
.newad-label {font-size:16px;position:relative;top:30px;}
.newad-label[required] {margin-left:-11px;
			&:before {content:"* ";}}
.newad-content {max-width:65%;margin-left:auto;}
.newad-price_price {margin-right:5px;max-width:25%;}
.newad-price_postfix {font-size:18px;}
.newad-price_period {font-size:16px;height:38px;margin-left:10px;padding-left:10px;position:relative;top:-2px;width:35%;}
.newad-geo_city {font-size:16px;height:38px;margin-bottom:10px;padding-left:10px;position:relative;top:-2px;width:35%;}
.newad-input-siblings {margin-bottom:10px;
	&:last-child {margin-bottom:0;}}
.newad-sleepplaces {font-size:16px;height:38px;margin-bottom:10px;padding-left:10px;position:relative;top:-2px;width:35%;}
.newad-content_label {font-family:"PlumbBold";}
.newad-input-file {display:block;}
.newad-submit {display:block;font-family:"PlumbBold";margin-top:30px;line-height:38px;margin-left:auto;margin-bottom:10px;padding:0 20px;}


