/* Modal Forms */

/* Login */

.modal {display:none;background:$modalBg;position:absolute;top:0;bottom:0;right:0;left:0;z-index:9999;}
.modal__active {display:block;}
.modal-content-wrapper{background:$basicBg;border:1px solid #9B9B9B;border-radius:8px;max-width:40%;margin:8% auto 0;padding:10px 15px 15px;}
.modal-header {border-bottom:1px solid $borderGrey;padding-bottom:5px;position:relative;}
.modal-close {color:#9B9B9B;cursor:pointer;position:absolute;right:0;top:0;font-size:18px;
	&:hover {color:#111;}}
.modal-title {font-family:"PlumbBold";font-size:22px;}
.modal-tip {font-size:13px;
	a {color:$blueLinks;
		&:hover {border-bottom-color:$blueLinks;}}}
.modal-form {margin-top:20px;}
.modal-list_item:first-child {margin-bottom:12px;}

.modal-label {display:inline-block;min-width:70px;}
.modal-input {max-width:86%;}
.modal-submit {display:block;margin-left:auto;font-size:22px;line-height:36px;padding:0 10px;}
.modal-tip-bottom {margin-left:75px;margin-top:2px;}