<!DOCTYPE html>
<!--[if lte IE 7]> <html class="no-js ie67 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
    <head>
      <meta charset="utf-8" />
      <title>Good Place</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ STATIC_URL }}css/goodplace.all.css" />
      <!-- <link rel="stylesheet" href="static/css/angrycitizen.print.css" media="print"> -->
      <!--[if IE]><link rel="stylesheet" type="text/css" href="static/css/goodplace.ie.css"><![endif]-->
      <link rel="icon" type="image/x-icon" sizes="16x16" href="favicon.ico" />
      <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      </script>
  	</head>
  	<body>

  <aside class="modal modal-lodin">
	<div class="modal-content-wrapper">
		<header class="modal-header">
			<div class="modal-close">x</div>
			<div class="modal-title">Вход</div>
			<div class="modal-tip">войдите на сайт или <a href="#">зарегестрируйтесь</a></div>
		</header>
		<form class="modal-form">
			<ul class="modal-list">
				<li class="modal-list_item">
					<label for="login" class="modal-label">Логин:</label>
					<input type="text" class="goodplace-input modal-input" name="login">
				<li class="modal-list_item">
					<label for="password" class="modal-label">Пароль:</label>
					<input type="password" class="goodplace-input modal-input" name="password">
					<div class="modal-tip-bottom">
						<a href="#">Забыли пароль?</a>
					</div>
				<li class="modal-list_item">
					<input type="submit" class="goodspace-submit modal-submit" value="Войти">
			</ul>
		</form>
		
	</div>
</aside>  		
 	<header class="l-header">
      	<div class="l-restrictor l-restrictor__header">
        	<div class="header-logo">
        		<a href="index.html"><img src="{{ STATIC_URL }}img/header-logo.jpg" alt="good place"></a>
        	</div>
          <div class="header-description">На этом сайте вы сможете найти жилье для аренды на территории <strong>АР Крым</strong></div>
        	<div class="header-newad"><a href="newad.html" class="header-newad_link">Подать объявление</a></div>
        	<div class="header-login">
        		<a href="login.html" class="header-login_link">Вход</a>
        	</div>
      	</div>
	</header>
    <section class="l-section">
      <div class="l-restrictor">
        <div class="home-tip">Все просто:</div>
        <div class="home-tip-mobile">Найти жилье:</div>
        <ul class="home-guide">
          <li class="home-guide_item home-guide_item__find">найдите объявление
          <li class="home-guide_item home-guide_item__call">свяжитесь с владельцем объявления
          <li class="home-guide_item home-guide_item__deal">совершите сделку
        </ul>
        <div class="home-seasch-wrapper">
          <input class="home-search" type="text" placeholder="Поиск...">
          <div class="home-search-btn"></div>
        </div>

        <div class="home-krim-wrapper">
          <img src="{{ STATIC_URL }}img/krim.jpg" alt="крым аренда" class="home-krim">
        </div>
      </div>
    </section>
    

 
	<footer class="l-footer">
		<div class="l-restrictor">
			<div><a href="email:psr1919plus21@gmail.com" class="footer-author">psr1919plus21@gmail.com</a></div>
			<div class="footer-year">2015</div>	
		</div>
	</footer>
	<script src="{{ STATIC_URL }}js/jquery.js"></script>
	<script src="{{ STATIC_URL }}js/goodspace.handler.js"></script>
 </body>
</html> 